*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 15px;
    font-style: normal;

}

.fondoimage{
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
}


body{
    height: 100vh;
    background: hsla(265, 97%, 62%, 1);

background: radial-gradient(circle, hsla(265, 97%, 62%, 1) 0%, hsla(0, 0%, 0%, 1) 100%);

background: -moz-radial-gradient(circle, hsla(265, 97%, 62%, 1) 0%, hsla(0, 0%, 0%, 1) 100%);

background: -webkit-radial-gradient(circle, hsla(265, 97%, 62%, 1) 0%, hsla(0, 0%, 0%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#8e3ffc", endColorstr="#000000", GradientType=1 );
}

header{
    display: flex;
    background-color: rgb(142, 63, 252);
    height: 80px;
    background: hsla(265, 97%, 62%, 1);
    background: linear-gradient(90deg, hsla(265, 97%, 62%, 1) 0%, hsla(0, 0%, 0%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(265, 97%, 62%, 1) 0%, hsla(0, 0%, 0%, 1) 100%);
    border-bottom: 2px solid black;
}

header img{
    display: flex;
    margin: auto 130px;
    height: 40px;
    width: 150px;
    
}

form{
   width: 390px;
   padding: 30px;
   border-radius: 50px;
   border: 10px solid rgba(0, 0, 0, 5%);
   display: flex;
   flex-direction: column;
   margin: 10vh auto;
   background: transparent;
   backdrop-filter: blur(20px);

}

.images{
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    border-radius: 5px;
    backdrop-filter: blur(100px);
    background: transparent;
}

.images p{
    font-size: 55px;
    top: -3px;
    position: relative;
}

.atm { 
    width: 60px;
    height: 100%;    
}

.inputs{
    display: inline;
    
}

.input_box{
    background-color: rgba(255, 255, 255, 90%);
    backdrop-filter: blur(100px);
    display: flex;
    justify-content: center;
    height: 36px;
    width: 100%;
    margin: 20px auto;
    border-radius: 15px;
    box-shadow: 1px 1px 5px black;
}

.input_box i{
    margin: 8px;
    font-size: 20px;
}

.input_box input{
    width: 95%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 40px;
    background: transparent;
    padding: 20px;
}

.ingresar{
    display: flex;
    justify-content: center;
    margin: 10px;
}

button{
    width: 30%;
    height: 30px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
}
